{% extends 'base.html' %}
{% load staticfiles %}
<title>
{% block title %}WellCom{% endblock %}
</title>

{% block body %}

<div class="container pull-xs-left"  id='what'>
  <h1> Why WellCom? </h1>
  <p id="about_text"> 319 million people in sub-Saharan Africa lack access to clean drinking water. <br><br>Handpump wells are a cost-effective way to bring clean water to remote areas.  However, within the first year, almost half of handpumps break down, and at any given time, one third of rural handpumps in sub-Saharan Africa are nonfunctional.  <br><br>WellCom enables aid organizations to remotely monitor their wells by providing automated usage statistics via cellular networks.  This data enables organizations to respond quickly when a well breaks, optimize operations, and quantify the impact of their work. </p>
</div>
<div class="container pull-xs-right"  id='whatpic'>
    <img src="{% static 'images/IMG_2749.jpg' %}">
</div>
<div class="container pull-xs-right"  id='how'>
  <h1> How it works </h1>
    <p id="about_text">WellCom's hardware is made using materials that are both easily available and cost effective. WellCom is also an open source project meaning all of our designs are available online.  You can find designs and parts lists via our <a href="https://github.com/WellConstructed">Github</a>.  Plans are made using fritzing, a free software for drawing schematics which can be found <a href="http://fritzing.org/home/">here</a>.</p>
</div>
<div class="container pull-xs-left"  id='howpic'>
  <img src="{% static 'images/fritz.png' %}">
</div>
<div class="container pull-xs-left"  id='who'>
  <h1> Well Constructed </h1>
    <p id="about_text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis, sem ut fermentum tincidunt, ipsum lectus tempor tortor, id varius diam felis consequat enim. Cras consectetur neque felis, vel finibus ipsum elementum nec. Fusce nisi nibh, luctus ac ex quis, efficitur interdum nibh. Sed elementum imperdiet sollicitudin. Morbi ex nunc, fringilla a risus nec, imperdiet facilisis lectus. In interdum blandit enim ut sagittis. Phasellus congue finibus ante, eu fermentum diam aliquam vel. Sed facilisis viverra rutrum. Pellentesque auctor libero vel sem fermentum lacinia. </p>
</div>
<div class="container pull-xs-right"  id='whopic'>
  <img src="{% static 'images/IMG_20151122_171003.jpg' %}">
</div>
{% endblock %}
