{% extends 'base.html' %}
{% load staticfiles %}
<title>
{% block title %}WellCom{% endblock %}
</title>

{% block body %}

  <div id="carousel" class="carousel slide">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="{% static 'images/IMG_2749.jpg' %}">
      </div>
    </div>
  </div>

<div class="container">
  <h1> What we do </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis, sem ut fermentum tincidunt, ipsum lectus tempor tortor, id varius diam felis consequat enim. Cras consectetur neque felis, vel finibus ipsum elementum nec. Fusce nisi nibh, luctus ac ex quis, efficitur interdum nibh. Sed elementum imperdiet sollicitudin. Morbi ex nunc, fringilla a risus nec, imperdiet facilisis lectus. In interdum blandit enim ut sagittis. Phasellus congue finibus ante, eu fermentum diam aliquam vel. Sed facilisis viverra rutrum. Pellentesque auctor libero vel sem fermentum lacinia. </p>
  <h1> Well Constructed </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis, sem ut fermentum tincidunt, ipsum lectus tempor tortor, id varius diam felis consequat enim. Cras consectetur neque felis, vel finibus ipsum elementum nec. Fusce nisi nibh, luctus ac ex quis, efficitur interdum nibh. Sed elementum imperdiet sollicitudin. Morbi ex nunc, fringilla a risus nec, imperdiet facilisis lectus. In interdum blandit enim ut sagittis. Phasellus congue finibus ante, eu fermentum diam aliquam vel. Sed facilisis viverra rutrum. Pellentesque auctor libero vel sem fermentum lacinia. </p>
  <h1> How it works </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis, sem ut fermentum tincidunt, ipsum lectus tempor tortor, id varius diam felis consequat enim. Cras consectetur neque felis, vel finibus ipsum elementum nec. Fusce nisi nibh, luctus ac ex quis, efficitur interdum nibh. Sed elementum imperdiet sollicitudin. Morbi ex nunc, fringilla a risus nec, imperdiet facilisis lectus. In interdum blandit enim ut sagittis. Phasellus congue finibus ante, eu fermentum diam aliquam vel. Sed facilisis viverra rutrum. Pellentesque auctor libero vel sem fermentum lacinia. </p>

</div>
{% endblock %}
