{% extends 'base.html' %}
{% load staticfiles %}
<title>
{% block title %}WellCom{% endblock %}
{% block header %}<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />{% endblock %}
</title>

{% block body %}

<body>
<div class="fixed">
  <a class="pull-xs-left" href="#all" id="help" title="scroll down for more well information">
    <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
  </a>
</div>

  <div class="container">

    <div id="all_well_map"></div>

  <div id="all">
  <h1> All Wells </h1></div>
  <table class="table table-hover" id="all_well_data">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Install Date</th>
      <th>Depth</th>
      <th>Last Updated</th>
      <th>Avg. Daily Uses</th>
      <th>Est. Number of Users</th>
      <th>Battery %</th>
    </tr>
  </thead>
  <tbody>
    {% for well in wells %}
    <tr class="clickable-row" data-href="{% url 'well_detail' well.pk %}">
      <td scope="row">{{ well.name }}</td>
      <td>{{well.country}}</td>
      <td>{{well.date_installed | date:"M d, Y" }}</td>
      <td>{{well.depth_m}}</td>
      <td>{{well.last_update | date:"M d, Y" }}</td>
      <td>{{well.average_daily_uses}}</td>
      <td>{{well.estimated_users}}</td>
      <td id="battery">{{well.batt_percent_charged}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/maps.js' %}"></script>
<script src="{% static 'js/tooltip.js' %}"></script>
<script src="{% static 'js/wells.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0xaWJqzGe98gvXk-mtPZjCEWunLYZuqQ&callback=initMap" async defer></script>

</body>
{% endblock %}
