.nav-item {
  font-size: 20px;
}

.navbar-brand {
  font-size: 20px;
}

#logo {
  height: 30px;
  width: auto;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

.carousel-item {
  height: 600px;
  width: auto;
}

h2 {
  padding-top: 20px;
}

html, body {
  height: 100%;
  background-color: #EEEEFF;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -15px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 15px; /* .push must be the same height as .footer */
}

.footer {
  text-align: center;
}

.container {
    /*margin-left: 20px;
    margin-right: 20px; */
    margin: auto;
}

#test_head {
  float: left;
}

#test_head #test_h {
  display: block;
}

#test_body {
  float: right;
}

.row {
  margin-top: 40px;
  margin-bottom: 20px;
}

.card {
  margin: 20px;
}

#all_well_map {
  height: 700px;
  width: 100%;
  /*TODO: Make these % of the div, so it adjusts based on user screen size */
}
