.container-fluid {
  padding-left: 60px;
  padding-right: 60px;
  display: inline-block;
}

.navbar  {
  background-color: #4D4D4D;
}

a.navbar-brand:hover {
  color: #fff;
}

a.dropdown-toggle:hover, a.dropdown-toggle, .nav .close>a {
  color: #fff;
  background-color: #4D4D4D;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #4D4D4D;
}

.nav>li>a {
  color: #fff;
  background-color: #4D4D4D;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #4D4D4D;
}

.nav {
  font-size: 15px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.navbar-brand {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  padding-left: 50%;
}

#logo {
  height: 30px;
  width: auto;
}

.carousel-item {
  height: 600px;
  width: auto;
}

h2 {
  padding-top: 20px;
}

html, body {
  height: 100%;
  background-color: #EEEEFF;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -15px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 15px; /* .push must be the same height as .footer */
}

.footer {
  text-align: center;
}

#test_head {
  float: left;
}

#test_head #test_h {
  display: block;
}

#test_body {
  float: right;
}

.row {
  margin-top: 40px;
  margin-bottom: 20px;
}

.card {
  margin: 20px;
}

#all_well_map {
  height: 700px;
  width: 100%;
  /*TODO: Make these % of the div, so it adjusts based on user screen size */
}
