/***************************************************
Navbar
***************************************************/

nav  {
  text-align: center;
  height: 100px;
  background:  linear-gradient(to bottom, rgba(77, 77, 77, 1), rgba(157, 157, 165, 0.75));
  margin-bottom: 5%;
}

nav div.container {
  display: inline-block;
  height: 100%;
  width: 95%;
  padding: inherit;
}

#logo {
  margin: auto 0;
}

#pump {
  display: inline;
  height: 1em;
  vertical-align: baseline;
}

#wellcom {
  display: inline-block;
  height: 2em;
  font-weight: 100;
  font-size: -webkit-xxx-large;
}

.navbar {
  border: none;
}

nav a {
  color: #fff;
  background-color: transparent;
}

nav a:hover, a:focus {
  text-decoration: none;
  color: #fff;
}

#logo {
  height: 30px;
  width: auto;
}

a.pull-xs-left {
  display: block;
  padding: 2% 0;
}

ul.pull-xs-right {
  padding: 2% 0;
  margin: auto 0;
  padding
}

ul.pull-xs-right>li {
  display: inline-block;
  list-style: none;
  padding: 0 5px;
}



/***************************************************
Body
***************************************************/

.carousel-item {
  height: 600px;
  width: auto;
}


h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #369FF4
}

p, li {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

html, body {
  height: 100%;
  background-color: #EEEEFF;
}

body {
  padding-top: 10%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 15px; /* .push must be the same height as .footer */
}

.footer {
  text-align: center;
}

#test_head {
  float: left;
}

#test_head #test_h {
  display: block;
}

#test_body {
  float: right;
}


.card {
  margin: 20px;
}

#all_well_map {
  height: 630px;
  width: 100%;
  /*TODO: Make these % of the div, so it adjusts based on user screen size */
}

/***************************************************
About Us
***************************************************/
#carousel {
  margin-top: -45px;
}

/***************************************************
well detail
***************************************************/
ul{
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-left: -10%;
  line-height: 20px;
}

#test_result {
  text-align: center;
}

#chart svg {
  width: 100%;
  height: 300px;
  margin-bottom: 5%
}
