{% extends 'base.html' %}
{% load staticfiles %}
<title>
{% block title %}WellCom{% endblock %}
</title>

{% block body %}
<body>
  <div class="container">
  <h1> All Wells </h1>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Install Date</th>
      <th>Depth</th>
      <th>Last Update</th>
      <th>Average Uses per Day</th>
      <th>Estimated number of Users</th>
    </tr>
  </thead>
  <tbody>
    {% for well in wells %}
    <tr>
      <td scope="row">{{ well.name }}</td>
      <td>{{well.country}}</td>
      <td>{{well.date_installed}}</td>
      <td>{{well.depth_m}}</td>
      <td>{{well.last_update}}</td>
      <td></td>
      <td>{{well.estimated_users}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</body>
{% endblock %}
